<br>
<hr>
<div class="aboutPageTitle"> 
<h3>ESPERIENZE LAVORATIVE</h3>
</div> 
<div class="aboutPage">
<div class="about_date">
    <h5>10/09/2016 – In corso</h5>
</div>
<div class="about_title">
<h4>Insegnante privata</h4>
</div>
<p>
Aiuto ragazzi/e o bambini/e di medie e superiori a svolgere i compiti assegnati per casa, a preparare interrogazioni e verifiche e a recuperare insufficienze in varie materie.
</p>
<br>

<div class="about_date">
    <h5>10/07/2019</h5>
</div>
<div class="about_title">
<h4>Hostess <br>
360Agency</h4>

</div>
<p>
Accoglienza e registrazione clienti.
</p>
<br>

<div class="about_date">
    <h5>05/07/2019 – 08/07/2019</h5>
</div>
<div class="about_title">
<h4>Hostess <br>
    NB Models/The Fairplay SRL</h4>
</div>
<p>
Accoglienza e registrazione clienti.
</p>
<br>

<div class="about_date">
    <h5>30/06/2018 – 30/07/2018</h5>
</div>
<div class="about_title">
<h4>Animatrice <br>
    Jump Animation Roma</h4>
</div>
<br>
</div>