<br>
<hr>
<div class="aboutPageTitle"> 
<h3>ESPERIENZE LAVORATIVE</h3>
</div> 
<div class="aboutPage">

<div class="about_date">
    <h5>01/11/2020 – In corso</h5>
</div>
<div class="about_title">
<h4>Assistente docente universitario</h4>
</div>
<p>
Assistente del Prof. Valerio Rughetti per il corso di Progetto di Sistemi Web Based dell'Università di Tor Vergata.
</p>
<br>
<div class="about_date">
    <h5>10/09/2016 – In corso</h5>
</div>
<div class="about_title">
<h4>Insegnante privata</h4>
</div>
<p>
Aiuto ragazzi/e o bambini/e di medie e superiori a svolgere i compiti assegnati per casa, a preparare interrogazioni e verifiche e a recuperare insufficienze in varie materie.
</p>

<br>
</div>