
<br>
<hr>
<div class="aboutPageTitle"> 
<h3>ISTRUZIONE E FORMAZIONE</h3>
</div>
<div class="aboutPage">  
    <div class="about_date">
        <h5>01/10/2021 – In corso</h5>
    </div>
    <div class="about_title">
    <h4>Corso di Laurea Magistrale in Comunicazione, Innovazione ed Experience Design <br>
        Università di Roma LUMSA</h4>
    </div>
    <p>
    Il presente corso di laurea magistrale (LM-91), ha come obiettivo la formazione di livello specialistico nell’area della comunicazione, tecnologia, informatica, marketing ed economia aziendale. 
    In particolare, forma esperti di progetti digitali e non come Experience e Service designer, Experience manager ed esperti di innovazione.
    </p> 
    <br>


    <div class="about_date">
        <h5>01/10/2017 – 28/10/2020</h5>
    </div>
    <div class="about_title">
    <h4>Corso di Laurea Triennale in Lingue nella Società dell'Informazione<br>
        Università degli Studi di Roma Tor Vergata</h4>
    </div>

    <p>
        Lingue di specializzazione: inglese (C1) e spagnolo (C1). <br>
        Tesi: <i>Digital Marketing: l'importanza dello storytelling nel processo di acquisizione del cliente</i> <br>
        Votazione finale: 110 e Lode
        </p>
    <br>

    <div class="about_date">
        <h5>25/09/2019 – 15/02/2020</h5>
    </div>
    <div class="about_title">
    <h4>Erasmus+ <br>
        Università di Malaga</h4>
    </div>
    <p>L'esperienza Erasmus mi ha permesso di sviluppare vari aspetti della mia personalità, rendendomi più autonoma, indipendente e sicura di me. 
        Ho inoltre acquisito una maggiore capacità di problem solving e di adattamento a nuove situazioni. 
        Sono in grado di pensare in modo più obiettivo e critico e di prendere decisioni importanti.
    </p>

    
    <br>
    <div class="about_date">
        <h5>01/09/2012 – 15/06/2017 </h5>
    </div>
    <div class="about_title">
    <h4>Diploma Liceo Linguistico E. Amaldi</h4>
    </div>
    <br>
</div>
