
<br>
<hr>
<div class="aboutPageTitle"> 
<h3>ISTRUZIONE E FORMAZIONE</h3>
</div>
<div class="aboutPage">  
    <div class="about_date">
        <h5>01/10/2020 – In corso</h5>
    </div>
    <div class="about_title">
    <h4>Corso di Laurea Magistrale in Scienze dell'Informazione, della Comunicazione e dell'Editoria <br>
        Università degli Studi di Roma Tor Vergata</h4>
    </div>
    <p>
    Il presente corso di laurea, classe LM-19, ha come obiettivo la formazione di livello specialistico nell’area dell’informazione e della comunicazione, con particolare riferimento ai problemi dell’editoria, della testualità, della multimedialità e della divulgazione.
    Gli sbocchi professionali sono prevalentemente concentrati nel mondo delle ICT, in riferimento soprattutto alle professioni del libro, all’editoria sia tradizionale che on line, alla comunicazione giornalistica cartacea e radiotelevisiva, alle attività di addetto stampa, di responsabile della comunicazione e dell’immagine, di gestore di contenuti per siti web, di creatore di eventi sociali, culturali, museali, artistici, cinematografici, teatrali e musicali etc. e delle connesse attività comunicative.
    </p>
    <br>
    <div class="about_date">
        <h5>25/09/2019 – 15/02/2020</h5>
    </div>
    <div class="about_title">
    <h4>Erasmus+ <br>
        Università di Malaga</h4>
    </div>
    <p>L'esperienza Erasmus mi ha permesso di sviluppare vari aspetti della mia personalità, rendendomi più autonoma, indipendente e sicura di me. 
        Ho inoltre acquisito una maggiore capacità di problem solving e di adattamento a nuove situazioni. 
        Sono in grado di pensare in modo più obiettivo e critico e di prendere decisioni importanti.
    </p>
    <br>
    <div class="about_date">
        <h5>01/10/2017 – 28/10/2020</h5>
    </div>
    <div class="about_title">
    <h4>Corso di Laurea Triennale in Lingue nella Società dell'Informazione<br>
        Università degli Studi di Roma Tor Vergata</h4>
    </div>

    <p>
    Lingue di specializzazione: inglese (C1) e spagnolo (C1). <br>
    Tesi: <i>Digital Marketing: l'importanza dello storytelling nel processo di acquisizione del cliente</i> <br>
    Votazione finale: 110 e Lode
    </p>

    <br>
    <div class="about_date">
        <h5>01/09/2012 – 15/06/2017 </h5>
    </div>
    <div class="about_title">
    <h4>Diploma Liceo Linguistico E. Amaldi</h4>
    </div>
    <br>
</div>
